.yd{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yd_col {
    margin: 24px;
    text-align: center;
}
.yd_btn{
    width: 400px;
    border-radius: 50px;
}
.yd_btn_phone{
    width: 90px;
    border-radius: 50px;
}
.yd_btn_view{
    display: flex;
}