.user_dl {
    margin: auto;
}

.money {
    background-color: #ffbd27;
}

.money_icon view{
    text-align: center;
}

.money_number{
    display: flex;
    justify-content: center;
    align-items: center;
}
.money_number text{
    font-size: 30;
}

.tools view view{
    text-align: center;
}